*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-brand{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    padding: 20px;
    color: var(--secondary-color);
}
.bran-content{
    text-align: start;
    font-size: 22px;
}
.bran-content h1{
    font-size: 43px;
}
.brand-boxes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.b-box img{
    width: 120px;
}
.b-box{
    border: 1px solid var(--secondary-color);
    padding: 8px;
}