.globalContent{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
}
.GlobalClients {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
    color: white;
    text-align: left;
  }
  
 