* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Testimonials {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
    overflow: hidden; 
    position: relative;
    height: 600px; 
    color: white;
}

.TestimonialsBoxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
}

.TBox {
    width: 350px;
    border: 1px solid white;
    padding: 20px;
    opacity: 1;
    position: relative;
}

.left {
    animation: moveDown 5s linear infinite;
}

.right {
    animation: moveUp 5s linear infinite;
}

@keyframes moveDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
