*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-cards{
    display: flex;
}
.card{
    width: 250px;
    height: 450px;
    background: url('../images/Hyprov-1-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.card h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}