* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div {
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
    padding: clamp(10px, 2vw, 20px); 
}

.content {
    width: clamp(200px, 20%, 300px); 
}

.content h1 {
    font-size: clamp(20px, 3vw, 32px); 
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    width: clamp(600px, 80%, 1200px); 
}

.boxes .box {
    flex: 1 1 clamp(100px, 20%, 200px); 
    padding: clamp(10px, 2vw, 40px);
    border: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box img {
    width: clamp(50px, 10vw, 100px); 
    height: auto; 
}