*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tech-main{
    display: flex;
    background: url('../images/tech-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
}
.tech-main .tech-box{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    color: #fff;
    background-color: black;

}